@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

/* import styles */
@import "./form";
@import "./animations";
@import "./container";
@import "./typography";
@import "./header";
@import "./feedback";
@import "./button";
@import "./footer";
@import "./image";
@import "./background";
@import "./loading";
@import "./hashtag";

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: initial;
}

textarea {
  font: inherit;
  border: initial;
  resize: none;
  outline: initial; /* create alternative for focus state */
}

button {
  font: inherit;
  border: initial;
  outline: initial; /* create alternative for focus state */
  background-color: initial;
}

/* BASE */
body {
  /* blue and green */
  background-image: linear-gradient(200deg, #074173, #0a6847);

  min-height: 100vh;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;

  scrollbar-width: none; /* Firefox */
}

.body::-webkit-scrollbar {
  /* Chrome, Safari, Edge, Opera, All browsers on iOS */
  display: none;
}

/* APP */
.app {
  position: relative;
  display: flex;
  justify-content: center;
  height: 850px;
}

@media (max-width: 1050px) {
  .app {
    flex-direction: column-reverse;
    height: initial;
  }
}

@media (max-width: 775px) {
  body {
    padding: 50px 0px 20px;
    align-items: initial;
    background-image: linear-gradient(-400deg, #074173, #0a6847);
  }

  .app {
    width: 90%;
    margin: 0px auto;
    border-radius: 0;
  }
}
